@media only screen and (max-width: 600px) {
  /* GENERAL PAGE VIEW MOBILE*/
  body {
    background-image: url("./mo.jpg");
    background-attachment: initial;

  }

  h1 {
    font-size: 2.2rem;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 1.05rem;


  }

  p {

    font-size: 0.5rem;
    line-height: 1.2;

  }

  ul {

    font-size: 0.5rem;
    line-height: 1.2;

  }

  /* MENU/NAVIGATION */
  .menu-burger {

    top: 3.5%;
      right: 5%;
      font-size: 27px;
  }
  .overlay-background{
  
    height: 300%;

  }
  .overlay-content {
    width: 164px;
  top: 16%;
  left: 5%;

  }


  .overlay a {

    font-size:2.5rem;

  }

  .overlay .closebtn {
    top: 1.5%;
    right: 3.5%;
    font-size: 40px;
  }

  /* HOME SECTION */

  .home-container {

    top: 16%;
    left: 12%;
    width: 83%;
  }



  /* CUBE */

  .cube {
    top: 86%;

  }

  /* THE SPIEL */
  .spiel {

    top: 205%;


  }



  /* PROJECTS */
  .projects {

    top: 305%;

  }
  /* CONTACT */
  .contact {

    top: 330%;

  }

}
