@media only screen and (max-width: 600px) {
  /* GENERAL PAGE VIEW MOBILE IPHONE 8 ETC*/
  body {
    background-image: url("./d.png");
    background-attachment: initial;

  }

  h1 {
    font-size: 2.2rem;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 1.05rem;


  }

  p {

    font-size: 0.5rem;
    line-height: 1.2;
    font-weight: 500;
  }

  ul {

    font-size: 0.5rem;
    font-weight: 500;
    line-height: 1.2;

  }

  /* MENU/NAVIGATION */
  .menu-burger {

    top: 3.5%;
      right: 5%;
      font-size: 27px;
  }
  .overlay-background{

    height: 285%;

  }
  .overlay-content {
    width: 164px;
  top: 16%;
  left: 5%;

  }


  .overlay a {

    font-size:2.5rem;

  }

  .overlay .closebtn {
    top: 1.5%;
    right: 3.5%;
    font-size: 40px;
  }


  /* HOME SECTION */

  .content {
    position: absolute;
    height: 180%;
    width: 72%;
    top: 100%;
    left: 12%;


  }

.cube {
  width: 60%;
}

.projects {
  width: 40%;
}
.contact {
  width: 40%;
}
  .home-container {

    top: 16%;
    left: 12%;
    width: 83%;
  }
