@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
/* GENERAL PAGE VIEW */
body {
  background-color: rgba(162, 191, 247, 0.98);
  background-image: url("./d.png");
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: black;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

h2 {
  color: black;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}


p {
  color: black;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  color: black;
  font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  font-weight: 600;
  list-style-type: circle;
}

.overlay-background{
  position: absolute;
  height: 380%;
  width: 100%;
  top: 0;
  left: 0;

    background-color: rgba(162, 191, 247, 0.98);
  background-attachment: fixed;
  overflow: hidden;
  opacity: 0.7;
}

/* MENU/NAVIGATION */
.menu-burger {
  position: fixed;
  top: 13%;
  right: 15%;
  font-size: 40px;
  cursor:pointer;
  color:black;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
/* background-color: rgba(162, 191, 247); */
    background-color: rgb(162, 191, 247);
  overflow-y: hidden;
}

.overlay-content {
  position: relative;
  width: 313px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.3;
  margin: 0;
  top: 11%;
  left: 20%;

}


.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 4rem;
  color: black;
  transition: 0.3s;

}


.overlay a:hover, .overlay a:focus {
  color: rgb(255, 194, 232);
  -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}


.overlay .closebtn {
  position: absolute;
  top: 11%;
  right: 15%;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* HOME SECTION */

.home-container {
  position: absolute;
  top: 30%;
  left: 16%;
  height: 40%;
  width: 60%;
}

.home-container h2 {
    font-family: 'Roboto', sans-serif;
}

.content {
  position: absolute;
  height: 240%;
  width: 60%;
  top: 100%;
  left: 15%;

}

/* THE SPIEL */
.spiel {
  position: relative;
  background-image: url("./d.png");
  width: 100%;
  display: flex;
}

.spiel-text {
  margin: 5% 5% 5% 5%;

}

.material-icons {
  position: absolute;
  margin-top: 3px;

}

.desktop-icon {
  display: flex;
}

/* CUBE */

.cube {
  background-image: url("./w.jpg");
  position: relative;
  top: 5%;
  width: 50%;
  display: flex;
}

.section-overlay {
  width: 100%;
  /* background-color: rgba(162, 191, 247, 0.95); */
  /* background-color: rgba(90, 97, 97, 0.95); */
    /* background-color: rgba(54, 55, 55, 0.95); */
    background-color: rgba(162, 191, 247, 0.95);
}

/* .test1 {
  width: 100%;
  background-color: rgba(90, 97, 97, 0.95);
}

.test2 {
  width: 100%;
  background-color: rgba(141, 152, 172, 0.95);
}

.test3 {
  width: 100%;
  background-color: rgba(176, 181, 191, 0.95);
} */

.cube-text {
  margin: 5% 5% 5% 5%;

}

.cube-text h2 {
  margin-top: 0;

}

/* PROJECTS */
.projects {
  position: relative;
    background-image: url("./w.jpg");
  top: 10%;
  left: 65%;
  width: 35%;
  display: flex;
}

.projects-text {
  margin: 5% 5% 5% 5%;

}

/* CONTACT */
.contact {
  position: relative;
  background-image: url("./w.jpg");
  top: 12%;
  left: 65%;
  width: 35%;
  display: flex;
}
/*
REFACTOR AT END */
.contact-text {
  margin: 5% 5% 5% 5%;

}
