@media only screen and (max-width: 600px) {
  /* GENERAL PAGE VIEW MOBILE*/
  body {
    background-image: url("./pic2.png");
  }

  h1 {

    font-size: 2.5rem;
    letter-spacing: 0;
  }

  h2 {
    font-size: 1.25rem;


  }

  p {

    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 600;
  }


  /* MENU/NAVIGATION */
  .menu-burger {

    top: 3.5%;
      right: 5%;
      font-size: 27px;
  }

  .overlay-content {
    width: 164px;
  top: 16%;
  left: 5%;

  }


  .overlay a {

    font-size:2.5rem;

  }


  .overlay a:hover, .overlay a:focus {
    color: rgb(255, 194, 232);
    -webkit-transform: 0;
          -ms-transform: 0;
          transform: 0;
  }


  .overlay .closebtn {
    top: 2%;
      right: 4%;
      font-size: 35px;
  }

  /* HOME SECTION */

  .home-container {

    top: 12%;
    left: 6%;
    width: 80%;
  }

  /* CUBE */

  .cube {
    position: absolute;
    top: 96%;
    left: 16%;
    width: 35%;
  }

  /* THE SPIEL */
  .spiel {
    position: absolute;
    top: 193%;
    left: 16%;
    width: 67%;
  }

  /* CONTACT */
  .contact {
    position: absolute;
    top: 289%;
    left: 16%;
  }

  /* PROJECTS */
  .projects {
    position: absolute;
    top: 320%;
    left: 16%;
  }


}
